body{
    background-color: #cfcfcf;
    font-size: 14px;
}
.logo-container{
    display: flex;
    justify-content: center;

    img{
        width: auto;
        height: 80px;
        margin-bottom: 20px;
    }
}
.payment-progress{
    border: 1px solid #919191;
    background-color: #fff;
    padding: 20px 60px;
    max-width: 40rem;
    border-radius: 20px;
    margin: 0 auto;  

    .item-name{
        text-align: center;
    }
}
.progress-indicator{
    display: flex;
    justify-content:center;
    align-items: center;
}
.progress-check-box{
    display: flex;
    align-items: center;
    position: relative;
    width:30%;
    height: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    hr{
        flex: 1;
        width: 100%;
        height: 2px;
        background: #454545;
        margin: 0;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 30px;
        border:4px solid #cfcfcf;
        background: #fff;
        border-radius: 50%;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      :hover input ~ .checkmark {
        background-color: #ccc;
      }
      input:checked ~ .checkmark {
        border-color: #659432;
      }
}
.progress-check-box:not(:last-child){
    flex: 1;
}
.progress-check-box:last-child{
    width: 30px;
}
.progress-status{
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #313131;    
}
.progress-status.completed{
    font-weight: 700;
    color: #659432;
}
.processing-status{
    background-image: url('images/loading_gif.webp') !important;
  background-position: center !important;
  background-size: 98% !important;
  border-color: #313131 !important;
}
.payment-btn-section{
    margin-top: 20px;
    text-align: center;
}
.payment-btn-section p{
    margin-bottom: 4px;
}
.btn-payment{
    width: 100%;
    padding: 8px 12px;
    height: 40px;
    border-radius: 4px;
    border: none;
    margin: 0;
    background-color: #FE8000;
    color: #fff;    
}
.btn-payment.confirmations{
    background-color: #E6E6E6;
    color: #030303;
    font-weight: 700;
}
.btn-payment.succeed{
    background-color: #0080FF;
}
.footer-ccp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    max-width: 40rem;
    border-radius: 20px;
    margin: 0 auto;  
}
.footer-ccp p{
    margin: 0;
}
.footer-ccp a{
    color: #0080FF;
    text-decoration: none;
    font-weight: 500;
}
@media (max-width:680px) {
    .payment-progress{
        margin: 0 15px;
    }
}